@model FilmSitesiModel.Models.Yonetmen

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Sil</h1>

@*<h3>Are you sure you want to delete this?</h3>*@
<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Yonetmen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YonetmenAdiSoyadi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YonetmenAdiSoyadi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YonetmenDogumTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YonetmenDogumTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YonetmenDogumYeri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YonetmenDogumYeri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YonetmenCinsiyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YonetmenCinsiyet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YonetmenTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YonetmenTel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="YonetmenNo" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Geri Dön</a>
    </form>
</div>
