@model IEnumerable<FilmSitesiModel.Models.Sinemalar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Sinemalar</h1>
<style>
    table, th, td {
        border: 5px solid white;
        border-collapse: collapse;
    }
</style>
<p>
    <a asp-action="Create">Yeni Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SinemaAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sehri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SinemaAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sehri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmNo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SinemaNo">Güncelle</a> |
                <a asp-action="Details" asp-route-id="@item.SinemaNo">Detay</a> |
                <a asp-action="Delete" asp-route-id="@item.SinemaNo">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
