@model FilmSitesiModel.Models.Yorumlar

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutKullanici.cshtml";
}

<h1>Sil</h1>

@*<h3>Are you sure you want to delete this?</h3>*@
<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Yorumlar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YildizSayisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YildizSayisi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="YorumNo" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Geri Dön</a>
    </form>
</div>
